#landing {background-color: black}

#pair {background-color: black; color: yellow}

.navigation {color: white}


#StudioArt {background-color:aqua; color: darkgoldenrod}
.program {color: darkgoldenrod; }
.Art {color: white}

#Economics {background-color: royalblue; color: aquamarine}

#Politics {background-color: black; color: antiquewhite}

#ComputerScience {background-color: lawngreen}
.Computer {color: floralwhite}

.Math {color: white}
#Mathematics {background-color: blueviolet; color: aquamarine}
.tab {color: black}
